/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import'https://fonts.googleapis.com/css?family=Inconsolata:400,700';

*{
  box-sizing: border-box;
}

html, body{
  color: #444;
  background: #f9f9f9;
  line-height: 1.4;
  font-family: "Courier New", Courier, monospace;
}

body{
  margin-bottom: 7.2em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 4.2em 0 1.6em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ===Base=== */

h1, .h1{
  font-size: 9vw;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-left: -3px;
  letter-spacing: 0.02em;
  line-height: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.byline{
  text-align: center;
}

h2, .h2, h3, .h3{
  margin: 1.6em 0 1em 0;
  font-weight: bold;
  font-family: "Inconsolata", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h2, .h2{
	font-size: 1.5em;
}

h3, .h3{
	font-size: 1.2em;
}

p{
  margin-bottom: .6em;
}

header{
  margin-bottom: 3em;
}

/*ul li{
  display: inline-block;
}

ul li:after{
  content: ' -';
  margin:2em;
}

ul li:last-child:after{
  content: "";
  margin-right:0;
}*/

footer{
  bottom: 0;
  width:100%;
  margin-right: 3em;
}

small{
  letter-spacing: 0.1em;
}

/* ===Layout=== */
.container{
  width: 100%;
  max-width:900px;
  padding: 0 3em;
}

.container-fluid{
  padding: 3em;
}

.intro{
  margin-top: 0;
  height: 100vh;
  display: table;
}

.vcenter {
  display: table-cell;
  width: inherit;
  vertical-align: middle;
  float: none;
}

.header-content{
  display: relative;
}


/* ===Module=== */
.card{
	padding-bottom: 30px;
}
.card__img{
	position: relative;
}
.card__header{
	position: relative;
}
.card h3,
.card .h3{
	margin-top: 1rem;
  margin-bottom: 0.2rem;
	display: inline-block;
}
.card__link{
	font-size: 1.231em;
	line-height: 1.4em;
	margin-top: 1rem;
  margin-bottom: 0.2rem;
	position: absolute;
	right: 0;
}
.card hr{
	margin: 0;
	margin-bottom: 1rem;
	border-top: 1px solid #444;
}

@media (min-width:768px) {
	.col-md-6 .card{
		height: 337px;
	}
	.col-md-6 .card__img{
		overflow: hidden;
  	max-height: 216px;
	}
}

.inner-card h2{
  border-bottom: 1px solid #444;
  padding-bottom: 0.2em;
}

.button-wrapper{
  width: 100%;
  display: inline-block;
  position: absolute;
  left: auto;
  right: auto;
  bottom: 1.8em;
}

a.call-to-action{
  display:block;
  position: relative;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  padding: 0.75em 0.95em;
  background: transparent;
  border: 1px solid #888;
  border-radius: 50%;
  transition: border-color 0.5s ease;
}

a.call-to-action:hover{
  border-color: #333;
  cursor: pointer;
}

a.call-to-action .arrow-down{
  position: relative;
  content: "";
  display: inline-block;
  margin: 0 auto;
  width: 1em;
  height: 1em;
  border-right: 1px solid;
  border-top: 1px solid;
  border-color: inherit;
  transform: rotate(135deg);
  -webkit-animation: jumping 5s infinite;
  animation: jumping 4s infinite;
}

@-webkit-keyframes jumping {
  0% {top:0px;}
  80% {top:0px}
  85% {top:5px;}
  90% {top:0px;}
  95% {top:5px;}
  100% {top:0px;}
}

@keyframes jumping {
  0% {top:0px;}
  80% {top:0px}
  85% {top:5px;}
  90% {top:0px;}
  95% {top:5px;}
  100% {top:0px;}
}

.tag::before{
  content: " — ";
}

/* ===State=== */
.blink:after {
  content: "|";
  opacity: 1;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

a.mail:hover{
  cursor: url(../email.png), auto;
}

a.call:hover {
  cursor: url(../call.png), auto;
}

/* ===Theme=== */
.copyright{
  position: fixed;
  max-width: 17em;
  bottom: 0;
  right: 0;
  margin: 1em;
  -webkit-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(-90deg) translate(100%);
  -ms-transform: rotate(-90deg) translate(100%);
  transform: rotate(-90deg) translate(100%);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (min-width: 900px) {

 .container{
   /*margin-top: calc(50vh - 300px);*/
 }
 h1, .h1{
   font-size: 69px;
 }

}


@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

hr.distancer{
  margin: 0;
}

hr.reduced-mt{
	margin-top: 2.2em;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
