
.icon-mail:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */