
.icon-link:before { content: '\e800'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-face:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-business:before { content: '\f0e1'; } /* '' */
.icon-codes:before { content: '\f1cb'; } /* '' */